{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-native/all"
  ],
  "plugins": ["react", "react-native"],
  "env": {
    "browser": true,
    "react-native/react-native": true
  },
  "rules": {
    "jsx-quotes": ["error", "prefer-single"],
    "quotes": ["error", "single"],
    "jsx-a11y/accessible-emoji": 0,
    "react/destructuring-assignment": [0, "always"],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  }
}
